<app-navbar></app-navbar>
<!--<app-form
  (start)="onStartClicked($event)"
  [hidden]="!formVisibility"
></app-form>
<app-snake
  (exit)="onExitClicked($event)"
  (scoreValue)="onScoreChange($event)"
  (timerValue)="onTimerChange($event)"
  (gameStatus)="onStatusChange($event)"
  (playerHistory)="onHistoryChange($event)"
  (history)="onHistoryClicked($event)"
  [currentPlayer]="playerName"
  [hidden]="formVisibility"
></app-snake>
<app-history
  [playersHistory]="playersHistory"
  [playersArray]="playersArray"
  [hidden]="historyVisibility"
></app-history> -->
<router-outlet></router-outlet>
