nav {
  background-color: var(--black);
  padding: 0.5em;
  align-content: baseline;
  justify-content: center;
}

.navbar-brand {
  color: var(--aqua);
  font-size: 1.8em;
  align-content: baseline;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(0, 212, 255, 1) 93%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}

#statistics {
  padding-right: 1em;
}

.nav-link {
  color: var(--magenta);
}
.nav-link2 {
  color: var(--magenta);
}


.nav-link2 span {
  color: var(--aqua);
}

.nav-link:hover {
  color: var(--aqua);
}
